<%= form_for [@expense], :html => {:multipart => true} do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
  

    <div class="field">
      <%= f.label :item %><br>
      <%= f.text_field :item %>
    </div>

    <div class="field">
      <%= f.label :amount %><br>
      <%= f.text_field :amount, :placeholder=>"$" %>
    </div>

    <div class="field">
      <%= f.label :category %> <br>
      <%= f.select(:category, options_for_select([['Accomodation', 1], ['Transport', 2], ['Food and Drinks', 3], ['Entertainment', 4]]), {class: "form-control"}) %>
    </div>

    </div>

  
    <div class="field">
      <%= f.label :created_at %><br>
      <%= f.text_field :created_at %>
    </div>

   

    <div class="field">
      <%= f.label :account_id %><br>
      <%= f.select :account_id, Account.all.map { |c| [c.id, c.id] } %>
    </div>
  

  <div class="actions">
    <%= f.submit %><br>
  </div>
</form>
<br>
<% end %>



 
