<h1>New expense</h1>

<%= button_to "New expense", new_expense_path %> 

<h2>All expenses</h2>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Date</th>
      <th>User#</th>
      <th>Account#</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.item %></td>
        <td> € <%= expense.amount %></td>
        <td><%= expense.category %></td>
        <td><%= expense.created_at %></td>
        <% if expense.user_id.present? %>
        <td><%= User.find(expense.user_id).email %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><%= expense.account_id %></td>
        <td><%= button_to 'Show', expense, :method => :get %></td>
        <td><%= button_to 'Edit', edit_expense_path(expense), :method => :get %></td>
        <td><%= button_to 'Delete', expense, :method => :get , method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<% @accounts.each do |a| %> 

<h2>Total expenses</h2>
<h3>  €  <%= a.total_expenses %></h3>

<h2>Expenses per user</h2>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>User#</th>
      <th>Total amount</th>
    </tr>
  </thead>

 <tbody>
    <% a.users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td> € <%= user.expenses_for_account(a) %></td>
      </tr>
    <% end %>
  </tbody>




<% end %>


 


