<h2>New expense</h2>

<%= button_to "New expense", new_expense_path %> 

<h2>All expenses</h2>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount</th>
      <th>Categorie</th>
      <th>Date</th>
      <th>User#</th>
      <th>Account#</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.item %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.category %></td>
        <td><%= expense.created_at %></td>
        <td><%= expense.user_id %></td>
        <td><%= expense.account_id %></td>
        <td><%= button_to 'Show', expense %></td>
        <td><%= button_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= button_to 'Delete', expense %></td>

      </tr>
    <% end %>
  </tbody>
</table>
