<%= form_for :account do |f| %>

   <p>
    <%= f.label :account %><br>
    <%= f.number_field :account %>
   
  </p>
 
  <p>
    <%= f.submit %>
  </p>


<% end %>


<%= link_to 'Back', accounts_path %>









