<%= form_for :account do |f| %>
  <p>
    <%= f.label :account_id %><br>
    <%= f.text_field :account_id %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>



<%= link_to 'Back', accounts_path %>





<% end %>